################################################################
####			DATA ACQUISITION SYSTEMS	    ####
################################################################

[Tektronix3014]
path_pattern = DAS/0311TektronixDPO3014.ON/ch{:d}.csv
parameters = {'delimiter': ','}

[Papouch_St]
path_pattern = DAS/1011Paouch_St.ON/PapouchSt_{:02d}
xlabel = Time [s]
name = Papouch_St DAS {:d}. channel
parameters = {'delimiter': '\t'}
ylabel = Voltage [V]

[NIturbo]
path_pattern = DAS/0311NIturbo.ONN/NIturbo_{:02d}
xlabel = Time [s]
name = NIturbo DAS {:d}. channel
parameters = {'delimiter': '\t'}
ylabel = Voltage [V]

[NIbasic]
path_pattern = DAS/1011NI.ON/NIbasic_{:02d}
xlabel = Time [s]
name = NIbasic DAS {:d}. channel
parameters = {'delimiter': '\t'}
ylabel = Voltage [V]

################################################################
####			DIAGNOSTICS			    ####
################################################################

[loop voltage]
datadir = basicdiagn
identifier = Uloop
xlabel = Time [ms]
name = Loop voltage
ylabel = Voltage [V]

[toroidal field]
datadir = basicdiagn
identifier = Btoroidal
xlabel = Time [ms]
name = Toroidal magnetic field
ylabel = Magnetic flux density [T]

[rogowski current]
datadir = basicdiagn
identifier = Irogowski
xlabel = Time [ms]
name = Current measured by Rogowski coil
ylabel = Current [kA]

[plasma current]
datadir = basicdiagn
identifier = Iplasma
xlabel = Time [ms]
name = Plasma current
ylabel = Current [kA]

[photodiode]
datadir = basicdiagn
identifier = Photod
xlabel = Time [ms]
name = Light intensity measured by photodiode
ylabel = Intensity [a.u.]

[photodiode alpha]
datadir = basicdiagn
identifier = PhotodHalfa
xlabel = Time [ms]
name = Light intensity measured by photodiode with H-alpha filter
ylabel = Intensity [a.u.]

################################################################
####			DISCHARGE CONDITIONS		    ####
################################################################

[Ub]
identifier = b
datadir = charging_limit
name = Charging voltage of capacitors for toroidal magnetic field coils
ylabel = Voltage [V]

[Ucd]
identifier = cd
datadir = charging_limit
name = Charging voltage of capacitors for current drive transformer primary winding
ylabel = Voltage [V]

[Ust]
identifier = st
datadir = charging_limit
name = Charging voltage of capacitors for stabilization magnetic field coils
ylabel = Voltage [V]

[Ubd]
identifier = bd
datadir = charging_limit
name = Charging voltage of capacitors for breakdown magnetic field coils
ylabel = Voltage [V]

[Tcd]
identifier = cd
datadir = time_delay
name = Time delay between torroidal mag. field and current drive capacitors discharge
ylabel = Time [us]

[Tst]
identifier = st
datadir = time_delay
name = Time delay between torroidal mag. field and stabilization magnetic field capacitors discharge
ylabel = Time [us]

[Tbd]
identifier = bd
datadir = time_delay
name = Time delay between torroidal mag. field and breakdown magnetic field capacitors discharge
ylabel = Time [us]

[pressure]
identifier = Aktual_PfeifferMerkaVakua
ylabel = Pressure [mPa]
name = Actual gas pressure before discharge
datadir = basic_parameters

[pressure initial]
identifier = Initial_PfeifferMerkaVakua
ylabel = Pressure [mPa]
name = Initial gas pressure before gas filling
datadir = basic_parameters

[pressure request]
identifier = pressure_setting_mPa
ylabel = Pressure [mPa]
name = Requested gas pressure before discharge
datadir = basic_parameters

[time]
identifier = Aktual_Time 
name = Time since session beginning
datadir = basic_parameters
ylabel = Time [s]

[chamber temperature]
identifier = Aktual_TermoclanekNaKomore
ylabel = Temperature [°C]
name = Actual chamber temperature
datadir = basic_parameters

[gas filling]
identifier = H2filling
name = Working gas filling
datadir = basic_parameters
ylabel = binary

[preionization]
identifier = PreIonization
name = Pre-Ionization
datadir = basic_parameters
ylabel = binary

[comment]
identifier = wwwcomment
name = Discharge pre-comment
datadir = basic_parameters

################################################################
####			CALCULATED QUANTITIES		    ####
################################################################

[electron temperature]
identifier = ElectronTemperature
xlabel = Time [ms]
ylabel = Temperature [eV]
name = Electron temperature
datadir = basic_analysis

[greenwald density]
identifier = GreenwaldDensity
xlabel = Time [ms]
ylabel = Density [-]
name = Greenwald density
datadir = basic_analysis

[input power]
identifier = OhmicHeatingPower
xlabel = Time [ms]
ylabel = n [-]
name = Ohmic heating power
datadir = basic_analysis

[Q95]
identifier = Qedge
xlabel = Time [ms]
ylabel = Q [-]
name = Safety factor
datadir = basic_analysis

[total charge]
identifier = TotalCharge
ylabel = Charge [C]
name = Total charge
datadir = basicdiagn_scalar

[Q95 mean]
identifier = Qedge
name = Mean of Q edge 
datadir = basicdiagn_scalar

[temperature mean]
identifier = ElectronTemperature
ylabel = Temperature [eV]
name = Electron temperature
datadir = basicdiagn_scalar

[loop voltage mean]
identifier = MeanUloop
datadir = basicdiagn_scalar
ylabel = Voltage [V]
name = Mean of loop voltage 

[loop voltage max]
identifier = UloopMax
datadir = basicdiagn_scalar
ylabel = Voltage [V]
name = Maximum of loop voltage 

[photodiode mean]
identifier = MeanPhotod
datadir = basicdiagn_scalar
name = Mean of light intensity measured by photodiode
ylabel = Intensity [a.u.]

[toroidal field mean]
datadir = basicdiagn_scalar
identifier = MeanBt
name = Mean of toroidal magnetic field
ylabel = Magnetic flux density [T]

[toroidal field max]
datadir = basicdiagn_scalar
identifier = BtMax
name = Maximum of toroidal magnetic field
ylabel = Magnetic flux density [T]

[plasma current mean]
datadir = basicdiagn_scalar
identifier = MeanPlasmaCurrent
name = Mean of plasma current
ylabel = Current [kA]

[rogowski current max]
datadir = basicdiagn_scalar
identifier = IrogowskiMax
name = Maximum of current measured by Rogowski coil
ylabel = Current [kA]

[plasma start]
datadir = basicdiagn_scalar
identifier = PlasmaStart
name = Time of plasma lifespan beginning
ylabel = Time [ms]

[plasma end]
datadir = basicdiagn_scalar
identifier = PlasmaEnd
name = Time of plasma lifespan end
ylabel = Time [ms]

[plasma life]
datadir = basicdiagn_scalar
identifier = PlasmaTimeLength
name = Time of plasma lifespan 
ylabel = Time [ms]

[breakdown voltage]
datadir = basicdiagn_scalar
identifier = BreakDownVoltage
name = Loop voltage during breakdown
ylabel = Voltage [V]

[breakdown time]
datadir = basicdiagn_scalar
identifier = BreakDownTime
name = Time of breakdown
ylabel = Time [ms]

[breakdown field]
datadir = basicdiagn_scalar
identifier = BreakDownBt
name = Toroidal mag. field during breakdown
ylabel = Magnetic flux density [T]

[chamber resistance]
datadir = basicdiagn_scalar
identifier = ChamberResistance
name = Chamber resistance
ylabel = Resistance [\Omega]

[electron confinement time]
datadir = basicdiagn_scalar
identifier = ElectronConfinementTimeFirstApprox
name = First approximation of electron confinement time
ylabel = Time [ms]

[electron density equilibrium]
datadir = basicdiagn_scalar
identifier = StateEqElectronDensity
name = Approximation of electron density through equilibrium state
ylabel = Particle count [m^{-3}]

[total charge plasma]
identifier = PlasmaTotalCharge
ylabel = Charge [C]
name = Total plasma charge
datadir = basicdiagn_scalar

################################################################
####			DATA DIRECTORIES		    ####
################################################################

[basicdiagn]
path_pattern = basicdiagn/{:s}_dp.csv
parameters = {'delimiter': ';'}

[basicdiagn_scalar]
path_pattern = basicdiagn/{:s}

[NIStabControl]
path_pattern = DAS/1211NIStabControl.ON/{:s}
parameters = {'delimiter': ' '}

[charging_limit]
path_pattern = nabijeni/U{:s}_limit

[basic_parameters]
path_pattern = ./{:s}

[time_delay]
path_pattern = T{:s}_aktual

[basic_analysis]
path_pattern = analysis/Basics/0211SafetyFactor_JK.ON/data/{:s}Time.txt
parameters = {'delimiter': ';'}
